{% extends "base.html" %}

{% block content %}

<section class="section">

    <h1>My Orders</h1>

    {% if orders %}

    <div class="orders">

        {% for order in orders %}

        <div class="order-card">

            <div>

                <small>
                    Order #{{ order.id }}
                </small>

                <h3>
                    ₹{{ "%.2f"|format(order.total) }}
                </h3>

                <p>
                    {{ order.payment_method }}
                </p>

            </div>

            <div>

                <span class="status">
                    {{ order.status }}
                </span>

                <p>
                    {{ order.created_at.strftime(
                        "%d %b %Y, %I:%M %p"
                    ) }}
                </p>

            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="empty">

        <h2>No orders yet.</h2>

        <a
            class="btn"
            href="{{ url_for('products.product_list') }}"
        >
            Shop Now
        </a>

    </div>

    {% endif %}

</section>

{% endblock %}