{% extends "base.html" %}

{% block content %}

<div class="details">

    <div class="details-image">

        <img
            src="{{ url_for(
                'static',
                filename='images/products/' + product.image
            ) }}"
            onerror="this.src='https://via.placeholder.com/600x500?text=Product'"
        >

    </div>


    <div class="details-info">

        <span class="badge">
            {{ product.category }}
        </span>

        <h1>
            {{ product.name }}
        </h1>

        <p>
            {{ product.description }}
        </p>

        <h2>
            ₹{{ "%.2f"|format(product.price) }}
        </h2>

        <p>
            {% if product.stock > 0 %}
                ✅ {{ product.stock }} available
            {% else %}
                ❌ Out of stock
            {% endif %}
        </p>


        {% if product.stock > 0 %}

        <form
            method="POST"
            action="{{ url_for(
                'cart.add_to_cart',
                product_id=product.id
            ) }}"
        >

            <button class="btn">
                🛒 Add to Cart
            </button>

        </form>

        {% endif %}

    </div>

</div>

{% endblock %}